@import "tailwindcss";
@import 'react-responsive-carousel/lib/styles/carousel.min.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: rgb(230, 249, 238);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.companylogo {
  transition: .3s;
  opacity: 0;
  animation: slideright 1.5s ease forwards;
}

.slide-left {
  animation: slideleft .5s ease forwards;
}

.slide-right {
  animation: slideright .5s ease forwards;
}

.slide-down{
  animation: slidedown 0.7s ease-in-out forwards;
}

@keyframes slidedown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}


.contact-icon{
  transition: .5s ;
  opacity: 0;
  animation: pop 2s ease-in-out infinite;

}
.read_more{
  background-color:  rgba(140, 243, 147, 0.995);
  color: rgb(15, 14, 14);
}

.read_more:hover{
  box-shadow: 0px 1px 5px  gray;
  scale: 1.01;
}

.projects_sector div {
  transition: 0.8s;
  opacity: 0;
  animation: slidedown 0.5s ease-in-out forwards;
  animation-delay: calc(0.5s * var(--delay));
}

.promise_sector div{
  transition: 0.3s ;
  opacity: 0;
  animation: slideleft 1s ease-in-out forwards;
  animation-delay: calc(0.7s * var(--delay));
}

@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width < 641px) {
  * {
    transition: 0.5s ease
  }
  nav{
    width: 40% !important;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(20, 35, 65);
    overflow: hidden;
  }
  header {
    justify-content:space-between;
    width: 100%;
    height: 80px;
    padding: 0 15px 0 15px ;
    position: static;
    background-color: rgb(225, 224, 224);
  }

  .navbar {
    flex-direction: column;
    font-size: 14px;
    justify-content: start;
    text-align: left;
    height: 100vh;
    width: 100%;
    z-index: 100;
    animation: none;
    overflow: hidden;
    gap: 10;
    padding-right: 0;
    padding-top: 100px;
  }
  .navbar li{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid white;
    height: max-content;
    padding-right: 0;
    width: 100%;
  }
  .navbar li a,.more_features,.projects{
    font-size: 12px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
  }
  .contact_us a{
    padding-left: 20px !important;
    margin: 0 !important;
  }
  .companylogo {
    width: 50%;
    height: 95%;
  }
  .menu_button {
    font-size: 30px;
    color: rgb(42, 38, 38);
  }
  .width50{
    width: 50%;
  }
  .width75{
    width: 75%;
  }
  .width25{
  width: 40%;
  }
  .width100{
    width: 100% !important;
  }
  .width90{
    width: 90% !important;
  }
  .height50{
    height: 50%;
  }
  .height100{
    height: 100%;
  }
  .height75{
    height: 75%;
  }
  .height90{
    height: 90%;
  }
  .p2{
    padding: 2px;
  }
  .mx4{
    margin-left: 4px;
    margin-right: 4px;
  }
  .titleHeight{
    height: 30px !important;
  }
  .subtitle{
    font-size: 8px;
  }
  .paragraph{
    font-size: 8px;
  }
  .font10{
    font-size: 10px;
  }
  .font12{
    font-size: 12px;
  }
  .font14{
    font-size: 14px;
  }
  .welcomeText{
    font-size: 12px;
  }
  .titleText{
    font-size:28px
  }
  .banner{
    height:380px;
  }
  .banner_content{
    left:30;
    bottom:30;
    width: 65%;
  }
  .read_more{
    font-size: 12px;
    padding: 4px ;
  }
  .promise-section{
    width: 90% !important;
    height: 280px !important;
  }

  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .core_section{
    place-items: center;
  }
  .contact_section{
    flex-direction: row;
    justify-content:space-between;
  }
  .team_section{
    width: 45%;
    height: 300px;
  }
  .padding-down{
    padding: 0 0 20px 0;
  }
  .textleft{
    text-align: left;
  }
  .person_card{
    flex-direction: row;
  }
  .display-hidden{
    display: none !important;
  }
}

@media (width < 431px) {
  *{
    transition: 0.5s ease;
  }
  header{
    padding: 0;
  }
  .navbar li a,.more_features,.projects{
    font-size: 10px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
  }
  .menu_button {
    font-size: 20px;
  }
  .banner{
    height: 150px;
  }
  .companylogo {
    padding: 0 !important;
    width: 50%;
    height: 95%;
  }
  .banner{
    height:280px;
  }
  .logo{
    height: 50px ;
  }
  .banner_content{
    left:30;
    bottom:30;
    width: 60%;
  }
  .width50{
    width: 50%;
  }
  .width75{
    width: 75% !important;
  }
  .width90{
    width: 90%;
  }
  
  .height50{
    height: 50%;
  }
  .height75{
    height: 75% !important;
  }
  .height90{
    height: 90% !important;
  }
  .titleHeight{
    height: 24px !important;
  }
  .subtitle{
    font-size: 5px;
  }
  .font8{
    font-size: 8px !important;
  }
  .font10{
    font-size: 10px !important;
  }

  .font13{
    font-size: 13px;
  }
  .welcomeText{
    font-size: 9px;
  }
  .titleText{
    font-size:21px
  }
  .line_height2{
    line-height: 10px !important;
  }
  .read_more{
    font-size: 8px;
    padding: 4px;
  }
  .core_section{
    justify-content: center;
    align-items: center;
  }
  .team_section{
    width: 47% !important;
    height: 250px !important;
  }
  .core_value{
    height: 290px;
  }
  .promise-section{
    height: 310px !important;
  }
  .textleft{
    text-align: left;
  }
  .padding-down{
    padding: 0 0 20px 0;
  }
  .person_card{
    flex-direction: row;
  }
}

@media (width < 376px) {
  .navbar li a,.more_features,.projects{
    font-size: 10px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
  }
  .width100{
    width: 100%;
  }
  .width50{
    width: 50% !important;
  }
  .width75{
    width: 75% !important;
  }
  .width90{
    width: 90%;
  }
  .height100{
    height: 100%;
  }
  .height50{
    height: 50% !important;
  }
  .height75{
    height: 75% !important;
  }
  .height90{
    height: 90%;
  }
  .hmax{
    height: max-content;
  }
  .team_section{
    width: 90% !important;
    height: 250px !important;
  }
  .core_value{
    height: 310px;
    width: 90%;
  }
  .font6{
    font-size: 6px !important;
  }
  .font8{
    font-size: 8px !important;
  }
  .font10{
    font-size: 10px !important;
  }
  .promise-section{
    height: 320px !important;
  }
  .footer_section{
    width: 100% !important;
    height: 250px;
  }
}

@media (width<320px){
  .column{
    flex-direction: column;
  }
}

#contact{
  background-image: url("https://www.petraoasis.com/images/contact-with-petraoasis.webp");
  background-size: cover;
  background-position: center;  
}

#about{
  background-image: url("/images/about-us-banner.png");
  background-size: cover;
  background-position: center;  
}

#services{
  background-image: url("/images/services-banner.png");
  background-size: cover;
  background-position: center;  
}